# Dados do Banco de Dados e Temporarios do Docker
volume/
.vscode/


# Codigo-fonte e zip da extensao TDS do VSCode (muito pesado para o Git)
FONTES/tds-vscode-master/
FONTES/tds-vscode-master.zip
*.zip

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
servers.json
# Logs
*.log

